repos:
# -   repo: https://github.com/timothycrosley/isort
#     rev: 4.3.21
#     hooks:
#     - id: isort
# -   repo: https://github.com/psf/black
#     rev: 19.10b0
#     hooks:
#     - id: black
#       language_version: python3
-   repo: https://gitlab.com/pycqa/flake8
    rev: 3.7.9
    hooks:
    - id: flake8
-   repo: https://github.com/pre-commit/mirrors-mypy
    rev: v0.761
    hooks:
     -  id: mypy