repos:
-   repo: https://github.com/timothycrosley/isort
    rev: 5.8.0
    hooks:
    - id: isort
-   repo: https://github.com/psf/black
    rev: 19.10b0
    hooks:
    - id: black
      language_version: python3
-   repo: https://gitlab.com/pycqa/flake8
    rev: 3.9.0
    hooks:
    - id: flake8
-   repo: https://github.com/pre-commit/mirrors-mypy
    rev: v0.812
    hooks:
     -  id: mypy
-   repo: https://github.com/thlorenz/doctoc
    rev: "v2.0.0"
    hooks:
    -   id: doctoc
        args:
          - "--github"